
VITE_SUPABASE_URL=Your_Supabase_url_Here
VITE_SUPABASE_ANON_KEY=Your_supabase_anon_key_Here
# required for map tiles (maplibre style)
VITE_MAPTILER_KEY=your_real_key_here

# required for clinic address autocomplete in browser
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here